<footer class="cotainer" style="margin-top: 100px;">
  <p class="text-center">Copyright รง2017 Rails103
    <br>Design By
    <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>Xdite</a>
  </p>
</footer>
